.layui-table-cell{
			width: 63.015623px !important;
			 font-size: 12px;
		}
		.jiankong-main .video{
			height: 36.45rem;
			width: 23rem;
		}
		.shenchan .layui-table-cell{
			width: 57px !important;
		}
		.shenchan .laytable-cell-2-ysb{
			width: 44px !important;
		}
			.peibi .laytable-cell-1-eight{
			width:69px !important;
		}
		.jiankong-main .section{
			width:67.1rem;
		}
		.jiankong-main .section1 .peibi{
			width:58.3rem;
		}
		.jiankong-main .section1{
			width:67.1rem;
		}
		.jiankong-main .table{
			width:67rem;
		}