.layui-table-cell{
			width: 68.5px !important;
		}
		.jiankong-main .video{
			height: 36.45rem;
			width: 23rem;
		}
		.shenchan .layui-table-cell{
			width: 61px !important;
		}
		.shenchan .laytable-cell-2-ysb{
			width: 51px !important;
		}
			.peibi .laytable-cell-1-eight{
			width:80px !important;
		}
		.jiankong-main .section{
			width:67.1rem;
		}
		.jiankong-main .section1 .peibi{
			width:58.2rem;
		}
		.jiankong-main .section1{
			width:100%;
		}
		.jiankong-main .table{
			width:67rem;
		}