<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>修改维修设备</title>
    <link rel="stylesheet" href="../../assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="../../assets/module/admin.css?v=314"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .xq_text{
            color: #333;
            font-size: 16px;
            padding-top: 50px;
        }
        .xq_text p{
            font-weight: bold;
            padding: 10px 0;
        }
        .xq_text p span{
            font-weight: lighter;

        }
        #photo-list .layui-col-sm3{
            text-align: center;
        }
        .chakan{
            padding-bottom: 100px;
        }
        .icon-delete,.btns{
            width: 24px;
            height: 24px;
            position: absolute;
            top: 6px;
            overflow: hidden;
            z-index: 99999;
        }
        .icon-mp4{
            right: 0%;
            top: 0;
        }
        .icon-img{
            right: 36%;
        }
        .icon-delete img{
            width: 100% !important;
            height: 100%  !important;
        }
        .btns img{
            width: 24px  !important;
            height: 24px  !important;
        }
        #photo-list img{
            width: 120px;
            height: 120px;
        }
        .layui-col-md3{
            padding-top: 15px;
        }
        .btncladd{
            width: 120px;
            height: 120px;
        }
        .btns{
            background-color:rgba(0,0,0,0);
            padding: 0;
             height:24px;
             line-height:0;
        }
        .layui-form-label{
            width: 112px;
        }
        .layui-input-block {
            margin-left: 143px;

        }
    </style>
</head>
<body>

<!-- 页面加载loading -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card  layui-row chakan la">
        <div class="layui-col-xs6">
            <!-- 填充内容 -->

            <div class="layui-card-header ">修改信息</div>
            <div class="layui-card-body xq_text  " >
                <form class="layui-form" lay-filter="formQA" style="max-width: 480px;">
<!--                    <input type="hidden" name="equestionId" value="">-->
                    <div class="layui-form-item" >
                        <label class="layui-form-label">维修站点：</label>
                        <div class="layui-input-inline">
                            <select name="site" id="site" lay-vertype="tips" lay-filter="site" lay-verify="required" required="">
                                <!-- <option value="两江站">两江站</option>
                                <option value="璧山站">璧山站</option>
                                <option value="双石站">双石站</option>
                                <option value="朱沱站">朱沱站</option> -->
                            </select>
                            <div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit" style=""><dd lay-value="" class="layui-select-tips layui-this">请选择</dd><dd lay-value="1" class="">0.5</dd><dd lay-value="2" class="">1</dd></dl></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">维修科目：</label>
                        <div class="layui-input-inline">
                            <select  name="subjectRepair" lay-vertype="tips" class="select" id="subjectRepair" lay-filter="subjectRepair" lay-verify="required" required="">

                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">维修位置：</label>
                        <div class="layui-input-inline">
                            <select name="positionRepair" lay-vertype="tips" lay-verify="required" class="select" id="positionRepair" lay-filter="positionRepair" required="">

                            </select>
                        </div>
                    </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">维修类别：</label>
                            <div class="layui-input-inline">
                                <select name="categoryRepair" id="categoryRepair"  lay-vertype="tips" lay-verify="required" required="">
                                    <option value="整体更换">整体更换</option>
                                    <option value="维修">维修</option>
                                    <option value="更换组件">更换组件</option>
                                </select>
                            </div>
                        </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">计划完成时间：</label>
                            <div class="layui-input-inline required">
                                <input type="text" name="datePlan" class="layui-input" id="test1" placeholder="请输入时间">
                            </div>
                        </div>
                    </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">状态：</label>
                            <div class="layui-input-inline">
                                <select name="stateRepair"id="stateRepair" lay-vertype="tips" lay-verify="required" required="">
                                    <option value="进行中">进行中</option>
                                    <option value="待审核">待审核</option>
                                    <option value="已审核">已审核</option>
                                </select>
                                <div class="layui-unselect layui-form-select">
                                <div class="layui-select-title"><input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit" style=""><dd lay-value="" class="layui-select-tips layui-this">请选择</dd><dd lay-value="1" class="">0.5</dd><dd lay-value="2" class="">1</dd></dl></div>
                            </div>
                        </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">维修说明:</label>
                        <div class="layui-input-block">
                            <textarea name="explainRepair" placeholder="请输入" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item" >
                        <label class="layui-form-label">维修人员：</label>
                        <div class="layui-input-block required" >
                            <input type="text" name="personRepair" value="" class="layui-input" lay-verify="required" required="">
                        </div>
                    </div>
                    <div class="layui-form-item" >
                        <label class="layui-form-label">责任人：</label>
                        <div class="layui-input-block required" >
                            <input type="text" name="personresponsible" value="" class="layui-input" lay-verify="required" required="">
                        </div>
                    </div>
<!--                    <div class="layui-form-item">-->
<!--                        <label class="layui-form-label">维修人员：</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <select name="personRepair" id="personRepair" lay-vertype="tips" lay-verify="required" required="">-->
<!--                                <option value="小明">小明</option>-->
<!--                                <option value="等好">邓好</option>-->
<!--                            </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit" style=""><dd lay-value="" class="layui-select-tips layui-this">请选择</dd><dd lay-value="1" class="">0.5</dd><dd lay-value="2" class="">1</dd></dl></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="layui-form-item">-->
<!--                        <label class="layui-form-label">责任人：</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <select name="personresponsible" id="personresponsible" lay-vertype="tips" lay-verify="required" required="">-->
<!--                                <option value="小明">小明</option>-->
<!--                                <option value="掌声">掌声</option>-->
<!--                                <option value="邓好">邓好</option>-->
<!--                            </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit" style=""><dd lay-value="" class="layui-select-tips layui-this">请选择</dd><dd lay-value="1" class="">0.5</dd><dd lay-value="2" class="">1</dd></dl></div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="layui-form-item">
                        <div class="layui-input-block text-center">
                            <button ew-event="closeThisTabs" type="button" class="layui-btn layui-btn-danger">&emsp; 取消&emsp;</button>
                            <button  class="layui-btn layui-btn-green" lay-filter="formSubmitAQddd" lay-submit>&emsp;提交&emsp;</button>
                        </div>
                    </div>
                </form>
                    </div>

            </div>



        <div class="layui-col-xs6" >
            <!-- 填充内容 -->
            <div class="layui-card-header">
                <div class="layui-card-header layui-col-sm12 ">
                    <div class="layui-col-sm6">附件</div>
<!--                    <div class="layui-col-sm6">-->
<!--                        <div class="layui-col-sm4">巡检点：89</div>-->
<!--                        <div class="layui-col-sm4">体检：65</div>-->
<!--                        <div class="layui-col-sm4">检毕：13</div>-->
<!--                    </div>-->
                </div>

            </div>


            <div class="layui-card-body layui-form-item"  id="photo-list">
                <div class="layui-card-header" style="border-bottom:none">图片
                </div>
                <div class="layui-upload">

                    <div class="layui-col-md3" >
                        <button type="button" class="layui-btn btncladd" id="testimg" lay-filter="tupianbtn"lay-submit>上传图片</button>
                    <div class="layui-upload-list"  >
                        <img class="layui-upload-img" id="demo1">
                        <p id="demoText"></p>
                    </div>
                </div>
                </div>

            </div>

                <!--                <button type="button" class="layui-btn" id="testimg">-->
<!--                    <i class="layui-icon">&#xe67c;</i>上传图片-->
<!--                </button>-->
<!--             </div>-->

            <!--                    音频-->
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15" id="audio">
                    <div class="layui-card-header">语音</div>
                    <div class="layui-card" style="box-shadow:none">

                    <button type="button" class="layui-btn btncladd" id="test6"><i class="layui-icon"></i>上传音频</button>
                    <!--                            <div class="layui-col-md4">-->

                    <!--                                    <div class="layui-card-body" style="padding: 5px;">-->
                    <!--                                        <audio src="/i/song.ogg" controls="controls" style="width:200px">-->
                    <!--                                        </audio>-->
                    <!--                                    </div>-->
                    <!--                            </div>-->

                    </div>
                </div>
            </div>
            <!--视频-->
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15" id="mp4" >
                    <div class="layui-card-header">视频</div>
                    <div class="layui-col-md3">
                        <div class="layui-card" style="box-shadow: none">
                            <button type="button" class="layui-btn btncladd" id="test5"><i class="layui-icon"></i>上传视频</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- js部分 -->
<script type="text/javascript" src="../../assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="../../assets/js/common.js?v=314"></script>

<script>
    layui.use(['layer', 'form', 'table', 'util','upload', 'admin', 'zTree','Player',"laydate"], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var Player = layui.Player;
        var upload = layui.upload;
        //日期
        laydate.render({
            elem: '#test1',
            trigger: 'click'
        });
        // 渲染表单
        // var serverUrl='https://nydsj.cqjydata.com/CjManager';
        //var  serverUrl='http://192.168.0.15:8080';
        // var serverUrl='http://113.204.72.94:8080/CjManager';
        var userid=localStorage.getItem("userid");
        var token=localStorage.getItem("token");
      var equipmentId=sessionStorage.getItem("datas");
	  bindzhandian();
	function  bindzhandian(){
		  $.ajax({
		      url:url+'/zhandian/getZhandian',
		      type: "get",
		      dataType:"json",
			  data:{
				  pageIndex:1,pageSize:9999
			  },
		      async:false,
		      success:function(res){
		          var str1='';
		          for (var i = 0; i < res.list.length; i++) {
		              str1+= '<option value="'+res.list[i].zdname+'" data-id=' + i + '>' + res.list[i].zdname + '</option>'
		          }
		          $('#site').html(str1);
		          layui.form.render("select");
		      }
		  });
		  $('#site').val( localStorage.getItem("station"));
		  layui.form.render("select");
	  }
	  form.on('select(site)', function(obj) {
	      bindkehu();
	  });
      // 维修科目
        bindkehu();
        function bindkehu(){
			var siteName=$("#site").val();
            $.ajax({
                url:url+'/shebei/getleibieList',
                type: "get",
                dataType:"json",
                async:false,
				data:{siteName:siteName},
                success:function(res){

                    var str1='';
                    for (var i = 0; i < res.length; i++) {
                        str1+= '<option data-id=' + i + '>' + res[i].kemu + '</option>'
                    }
                    $('#subjectRepair').html(str1);
                    layui.form.render("select");
                }
            });
        }
        form.on('select(subjectRepair)', function(obj) {
            getchanges();
        });
        setTimeout(function () {
            getchanges();
        },200);

        function getchanges(){

            $.ajax({
                url:url+'/shebei/getweizhiList',
                type: "get",
                dataType:"json",
                async:false,
                data:{
                    kemu:$("#subjectRepair").val()
                },
                success:function(res){
                    console.log(1111);
                    console.log(res);
                    var str1='';
                    for (var i = 0; i < res.length; i++) {
                        str1+= '<option data-id=' + i + '>' + res[i].weizhi + '</option>'
                    }
                    $('#positionRepair').html(str1);
                    layui.form.render("select");
                }
            });

        }
        //结束
        $.ajax({
            url:serverUrl+'/repair/queryRecordOfRepairById',
            type: "post",
            dataType:"json",
            data:{
                equipmentId:equipmentId
            },
            success:function(res){
                console.log(res);
                datauser=res.data;
                // var json = JSON.stringify(res.data);
                // sessionStorage.setItem("xgdata",json);
                var data=res.data;
            form.val("formQA",{
              "positionRepair":data.positionRepair,
                'site':data.site,
                "categoryRepair":data.categoryRepair,
                "datePlan":data.datePlan,
                "stateRepair":data.stateRepair,
                "explainRepair":data.explainRepair,
                "personRepair":data.personRepair,
                "subjectRepair":data.subjectRepair,
                "personresponsible":data.personresponsible,


                });
                // var positionRepair=$("#positionRepair").value;
                // positionRepair=data.positionRepair;
                var category=$("#categoryRepair").value;
                category=data.categoryRepair;
                var site=$("#site").value;
                site=data.site;
                var stateRepair=$("#stateRepair").value;
                stateRepair=data.stateRepair;
                // form.render(null, 'formQA');
                // 图片加载
                // img(data);
                if(data.img==null){

                }else {
                    var imgs = data.img.split(";");

                    console.log(imgs);
                    console.log(imgs[0]);
                    if(imgs[0]==''){
                        for (var i = 1; i < imgs.length; i++) {
                            var imgss = '<div class="layui-col-md3 "  >\n' +
                             '<button class="layui-btn btns icon-img "  lay-filter="del"  lay-submit><img src="../../assets/images/delete.png" alt="" layer-pid="undefined" style="cursor: pointer;"></button>'+
                                '    <img class="tupian" src="'+uploadurl+'' + imgs[i] + '" alt="" layer-pid="undefined" style="cursor: move;">\n' +
                                '  </div>';
                            $("#photo-list").append(imgss);
                        }
                    }else{
                        console.log(111);
                        for (var i = 0; i < imgs.length; i++) {
                            var imgss = '<div class="layui-col-md3 "  >\n' +
                                '<button class="layui-btn btns icon-img "  lay-filter="del"  lay-submit><img src="../../assets/images/delete.png" alt="" layer-pid="undefined" style="cursor: pointer;"></button>'+
                                '    <img class="tupian" src="'+uploadurl+'' + imgs[i] + '" alt="" layer-pid="undefined" style="cursor: move;">\n' +
                                '  </div>';
                            $("#photo-list").append(imgss);
                        }
                    }

                }
                // 音频加载

                if(data.voice==null){

                }else {
                    var mp3=data.voice.split(";");
                    if(mp3[0]=="") {
                        for (var j = 1; j < mp3.length; j++) {

                            var voice = ' <div class="layui-col-md4">\n' +
                                '<button class="layui-btn btns icon-mp4 "  lay-filter="delmp3"  lay-submit><img src="../../assets/images/delete.png" alt="" layer-pid="undefined" style="cursor: pointer;"></button>'+
                                // '  <div class="layui-card-body" style="padding: 5px;">\n' +
                                '   <audio class="audio"  src="'+uploadurl+'' + mp3[j] + '" controls="controls" style="width: 100%">\n' +
                                '  </audio>\n' +
                                // ' </div>\n' +
                                '</div>';
                            $("#audio").append(voice);
                        }
                    }else {
                        for (var j = 0; j < mp3.length; j++) {

                            var voice = ' <div class="layui-col-md4">\n' +
                                '<button class="layui-btn btns icon-mp4 "  lay-filter="delmp3"  lay-submit><img src="../../assets/images/delete.png" alt="" layer-pid="undefined" style="cursor: pointer;"></button>'+
                                // '  <div class="layui-card-body" style="padding: 5px;">\n' +
                                '   <audio class="audio"  src="'+uploadurl+'' + mp3[j] + '" controls="controls" style="width: 100%">\n' +
                                '  </audio>\n' +
                                // ' </div>\n' +
                                '</div>';
                            $("#audio").append(voice);
                        }
                    }
                }
                // 视频
                if(data.video==null){

                }else {
                    var mp4=data.video.split(";");

                    if(mp4[0]=="") {
                        for (var h = 1; h < mp4.length; h++) {
                             var shipin='  <div class="layui-col-md4">\n' +
                                 '<button class="layui-btn btns icon-mp4 "  lay-filter="delmp4"  lay-submit><img src="../../assets/images/delete.png" alt="" layer-pid="undefined" style="cursor: pointer;"></button>'+
                                 // '  <div class="layui-card-body" style="padding: 5px;">\n' +
                                 '        <video width="100%" height="150" controls>\n' +
                                 '          <source class="video" src="'+uploadurl+'' + mp4[h] + '" type="video/mp4">\n' +
                                 '        </video>\n' +
                                 // '    </div>\n' +
                                 '</div>';
                            $("#mp4").append( shipin);


                        }
                    }else{
                        for (var h = 0; h < mp4.length; h++) {
                            var shipin='  <div class="layui-col-md4">\n' +
                                '<button class="layui-btn btns icon-mp4 "  lay-filter="delmp4"  lay-submit><img src="../../assets/images/delete.png" alt="" layer-pid="undefined" style="cursor: pointer;"></button>'+
                                // '  <div class="layui-card-body" style="padding: 5px;">\n' +
                                '        <video width="100%" height="150" controls>\n' +
                                '          <source class="video" src="'+uploadurl+'' + mp4[h] + '" type="video/mp4">\n' +
                                '        </video>\n' +
                                // '    </div>\n' +
                                '</div>';
                            $("#mp4").append( shipin);
                        }
                    }
                }

            },error:function (res) {
                layer.msg(res.msg);
            }

        });
        form.render(null, 'formQA');

        //修改接口的调用
        form.on('submit(formSubmitAQddd)', function (data) {
            console.log(data.field);
            var userid=localStorage.getItem("userid");
            var token=localStorage.getItem("token");
            var datajson={};
            datajson.userid=userid;
            datajson.token=token;
            var datafield= data.field;
            datafield.equipmentId=equipmentId;
            datajson.informationRepairJson= JSON.stringify(datafield);
            $.ajax({
                url:serverUrl+'/repair/updateRecordOfRepair',
                type: "post",
                dataType:"json",
                data:datajson,
                async:false,
                success:function(res){
                    console.log(res);
                    layer.msg("修改成功");
                     parent.location.reload();
                     parent.layui.admin.events.closeThisTabs();



                },error:function (res) {
                    layer.msg("请求错误");
                }

            });
        });
    //    上传图片
             var uploadInst = upload.render({
                    elem: '#testimg'
                    ,url: serverUrl+'/CommonManager/uploadFile'
                    ,data:{
                        wj_path:"D:\\apache-tomcat-8555\\webapps\\ROOT\\cj_upWenjian",
                        equipmentId:equipmentId,
                        wxorby:'wx',

                    }
                    ,before: function(obj){
                        obj.preview(function(index, file, result){
                            var img= $('#demo1').attr('src', result); //图片链接（base64）

                        });

                    }
                    ,done: function(res, index, upload){
                        //如果上传失败
                        console.log(res);
                        if(res.code > 0){
                            return layer.msg('上传失败');
                        }
                        //上传成功
                       layer.msg("上传成功");

                        // layer.msg("上传成功",function(){
                        //     setTimeout('location.reload()',100);
                        // });
                      location.reload();


                    }
                    ,error: function(){
                        //演示失败状态，并实现重传
                        var demoText = $('#demoText');
                        demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                        demoText.find('.demo-reload').on('click', function(){
                            uploadInst.upload();
                        });
                    }

                });



// 视频跟音频
        upload.render({
            elem: '#test5'
            ,url: serverUrl+'/CommonManager/uploadFile'
            ,data:{
                wj_path:"D:\\apache-tomcat-8555\\webapps\\ROOT\\cj_upWenjian",
                equipmentId:equipmentId,
                wxorby:'wx',

            }
            ,accept: 'video' //视频
            ,done: function(res){
                console.log(res);
                layer.msg("视频上传成功");
                console.log(res);
                location.reload();
            } ,error: function(){
                layer.msg("上传失败请重试");
            }
        });
        upload.render({
            elem: '#test6'
            ,url: serverUrl+'/CommonManager/uploadFile'
            ,data:{
                wj_path:"D:\\apache-tomcat-8555\\webapps\\ROOT\\cj_upWenjian",
                equipmentId:equipmentId,
                wxorby:'wx',

            }
            ,accept: 'audio' //音频
            ,done: function(res){
                layer.msg("音频上传成功");
                location.reload();

            } ,error: function(){
                layer.msg("上传失败请重试");
            }

        });


        //删除图片
        // var xgdata=sessionStorage.getItem("xgdata");
        // var datauser=JSON.parse(xgdata);
        form.on('submit(del)', function (data) {
            var paths=$(this ).siblings('.tupian').attr('src');
            var path=paths.substring(23);
            var delimgs = datauser.img.split(";");
            console.log( path);
            console.log( paths);
            console.log(delimgs );
            console.log(delimgs.includes(path));
                if( delimgs.includes(path)){
                    delimgs.splice(delimgs.indexOf(path),1);
                    console.log(delimgs);
                    var deljson={};
                    var  imgid={};
                    deljson.userid= userid;
                    deljson.token=token;
                    var  str=  delimgs.join(";",delimgs);
                    imgid.equipmentId=equipmentId;
                    imgid.img=str;
                    deljson.informationRepairJson=JSON.stringify(imgid);
                      console.log(deljson);
                      var inmgname=" 图片";
                    doDel(deljson,inmgname);

                }else{
                    layer.msg("加载失败");
                }

        });
        //删除语音
        form.on('submit(delmp3)', function (data) {
            console.log( datauser);
            var audiopaths=$(this).siblings('.audio').attr('src');
            var audiopath=audiopaths.substring(23);
            var delaudio = datauser.voice.split(";");
            if( delaudio.includes(audiopath)){
                delaudio.splice(delaudio.indexOf(audiopath),1);
                console.log(delaudio);
                var audiojson={};
                var  audioid={};
                audiojson.userid= userid;
                audiojson.token=token;
                var  str=  delaudio.join(";",delaudio);
                audioid.equipmentId=equipmentId;
                audioid.voice=str;
                audiojson.informationRepairJson=JSON.stringify(audioid);
                console.log(audiojson);
                var inmgname=" 语音";
                 doDel(audiojson,inmgname);

            }else{
                layer.msg("加载失败");
            }

        });
        //删除视频
        form.on('submit(delmp4)', function (data) {
            console.log( datauser);
            var videopaths=$(this).siblings('video').children(".video").attr('src');
            console.log(videopaths);
            var videopath=videopaths.substring(23);
            var delvideo = datauser.video.split(";");
            console.log(delvideo.includes(videopath) );
            if( delvideo.includes(videopath)){
                delvideo.splice(delvideo.indexOf(videopath),1);
                console.log(delvideo);
                var videojson={};
                var  videoid={};
                videojson.userid= userid;
                videojson.token=token;
                var  str=  delvideo.join(";",delvideo);
                videoid.equipmentId=equipmentId;
                videoid.video=str;
                videojson.informationRepairJson=JSON.stringify(videoid);
                var inmgname=" 视频";
                doDel(videojson,inmgname);

            }else{
               layer.msg("加载失败");
            }

        });
        // 删除
        function doDel(json,nickName) {
            layer.confirm('确定要删除“' + nickName + '”吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                layer.load(2);
                $.ajax({
                    url:serverUrl+'/repair/ThAndImg',
                    type: "post",
                    dataType:"json",
                    data:json,
                    async:false,
                    success:function(res){
                        layer.closeAll('loading');
                        layer.msg(res.msg, {icon: 1});
                        location.reload();
                    },error:function (res) {
                        layer.msg("请求错误");
                    }

                });
                return false;
            });
        }
    });

</script>

</body>
</html>